body {
	margin: 0;
	padding: 0;
	width: 100%;
	height:100%;
}
/* cabeçalho  */


/*  slides  */
section .galeria {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
}

section .foto {
  height:auto;
  width: 100%;
  position: absolute;
  opacity: 0;
  animation-name: animacao;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
/* animaçao */
@keyframes animacao {
  25% {
    opacity: 1;
    transform: scale(1.1,1.1,);
  }
  50% {
    opacity: 0;
  }
}

section .foto:nth-child(1){

}

section .foto:nth-child(2){
  animation-delay: 5s;
}

section .foto:nth-child(3){
  animation-delay: 10s;
}

section .foto:nth-child(4){
  animation-delay: 15s;
}

/* menu */
ul {
	display: flex;
	align-items: center;
	justify-content: center;
	list-style-type: none;
	overflow: hidden;
	background-color: #6a0000;
	font-family: Trebuchet MS; 
	margin-top: 0;
	margin-bottom: 0px;
}

li {
	float: left;
	text-align: center;
}

li a {
	text-align: center;
	display: inline-block;
	color: white;
	padding: 16px 18px;
	text-decoration: none;
	font-size: 18px;
	transition: 3s;
}
/*
li a:hover {
	color: black;
	background-color: #76B39D;
	transition: 3s;
}
*/
main{
	width: 90%;
	display: none;
	margin:0 !important;
	
	align-items: center;
	justify-content: center;
}
#cur{
margin: 20px;
display: none;
flex-direction:column;
}
footer {
    margin-top: 10%;
    width: 100%;
    height: 150px;
    background-color: #0000FF;
}

table img{
	width:400px;
	height: 400px;
	margin:50px;
	border: 4px solid #6a0000;
	border-radius:15px;
	image-size:cover;
}
table{
	width: 100vw;
	align-items:center;
	justify-content:center;
}

#contato{
	align-items:center;
	justify-content:center;
	margin-top: 10px;
	text-align: center;
	width: 100vw;
}
form {
    margin-left: 25%;
    margin-right: 25%;
    width: 60%;
    padding: 1rem;
    border: 1px solid #999;
}